html {
  position: relative;
  min-height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background-color: white;
  background-image: url("https://background-tiles.com/overview/white/textures/large/5022.png");
}

.basic {
  background: linear-gradient(rgba(250, 248, 248, 0.2), rgba(25, 167, 173, 0.2)),
    url(../src/Components/Home/bmw_m5_f90-1920x1080.jpg) no-repeat center;
  background-size: cover;
  height: 85vh;
  position: relative;
  overflow: hidden;
}

#container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

#site-content > section.basic {
  text-align: center;
}

.login form,
.register form,
.create form {
  margin: 5rem auto;
}

.button {
  display: block;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  text-decoration: none;
  font-weight: bold;
  background: #6d7a8a;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px black;
  border: none;
  font-size: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style-type: none;
}

.fa-heart {
  color: red;
}

img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.detailsOtherCar,
.detailsMyCar,
.deleteCar,
.otherCar,
.myCar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsMyCar > p:nth-child(2),
.deleteCar > p:nth-child(2),
.otherCar > p:nth-child(2),
.myCar > p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: bold;
}

.detailsMyCar textarea {
  width: 480px;
  height: 150px;
}

.otherCar > p:nth-child(4) {
  width: 30rem;
  overflow: hidden;
}

.dashboard > nav > ul {
  display: flex;
}

.dashboard > nav > ul li:not(:last-child) {
  padding-right: 1rem;
}

.dashboard .navbar {
  justify-content: center;
}

.basic h1,
.my-cars h1,
.dashboard h1 {
  text-align: center;
  margin: 0rem;
  padding: 2rem 0 1rem 0;
}

h3 {
  margin-bottom: 0;
}

.car-info {
  padding-bottom: 1rem;
}

.car-info a {
  margin: 10px;
}

.deleteCar > form,
.detailsMyCar > form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.my-cars .my-cars-list,
.dashboard .other-cars-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.detailsMyCar textarea,
.my-cars textarea {
  margin-bottom: 2rem;
}

#notifications {
  float: right;
  position: absolute;
  top: 50px;
  right: 0;
  text-align: center;
  margin: 1em;
}

.notification {
  font-size: 1.5em;
  color: #ffffff;
  display: none;
  text-align: right;
}

.notification > span {
  display: inline-block;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 10px;
}

#loadingBox > span {
  background: #7cb3e9;
}

#infoBox > span {
  background: #393;
}

#errorBox > span {
  background: #f50;
}

/*NOTIFICATIONS*/

#notifications {
  float: right;
  position: absolute;
  top: 50px;
  right: 0;
  text-align: center;
  margin: 1em;
}

.notification {
  font-size: 1.5em;
  color: #ffffff;
  display: none;
  text-align: right;
}

.notification > span {
  display: inline-block;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 10px;
}

#loadingBox > span {
  background: #7cb3e9;
}
#infoBox > span {
  background: #393;
}
#errorBox > span {
  background: #f50;
}

/*TYPOGRAPHY*/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif+Caption:400i|PT+Serif:400,400i,700,700i");
html {
  font: 12px/1.5 "PT Sans", "PT Serif Caption", "PT Serif";
}

@media screen and (min-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 18px;
  }
}

body,
table,
th,
td,
form,
input,
textarea,
option,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

ul,
ol {
  padding-bottom: 1.5em;
}

ul,
ol {
  padding-left: 2em;
}

li {
  list-style-position: inside;
}
blockquote {
  width: 80%;
  margin: 0 auto;
  border-left: 4px solid #ddd;
  font-style: italic;
  padding: 1rem 2rem;
  position: relative;
}
