footer {
  margin-top: auto;
  text-align: center;
  background: #344649;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-weight: bold;
  margin: 0rem;
  color: white;
}
