header {
  box-shadow: 0px 7px 21px -3px rgba(0, 0, 0, 0.75);
}
nav.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: center;
  letter-spacing: 0.05rem;
  background: #344649;
  padding: 0.8rem 1rem;
  color: white;
}
#site-header > nav > section.navbar-dashboard > a {
  list-style: none;
  text-decoration: none;
  align-self: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
#site-header > nav > section.navbar-dashboard > form > input[type="text"],
#site-header > nav > section.navbar-anonymous > ul > li:nth-child(1) > a,
#site-header > nav > section.navbar-user > ul > li:nth-child(1),
#site-header > nav > section.navbar-dashboard > ul > li:nth-child(1) > a {
  margin-right: 0.5rem;
}

nav.navbar ul {
  background: transparent;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0;
}
nav.navbar ul li {
  display: block;
  list-style: none outside;
  position: relative;
}
nav.navbar ul li a {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-weight: 300;
  color: #ffffff;
  background-color: #3e9bd1;
  text-align: center;
  transition: all 0.2s;
  font-size: 1rem;
}
.button:hover,
nav.navbar ul li a:hover,
nav.navbar ul li:hover > a {
  background-color: #4095c6;
}

.dashboard nav {
  background: transparent;
}
.navbar-dashboard {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.navbar .first-bar {
  display: flex;
  align-items: center;
}
.navbar .first-bar a {
  color: white;
  margin-right: 0.5rem;
}
.navbar .first-bar input {
  margin-right: 0.5rem;
}
#site-header > nav > section > div.first-bar > a:nth-child(1) {
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar .first-bar form {
  display: flex;
  align-items: center;
}
.navbar .second-bar ul {
  display: flex;
  align-items: center;
}
.navbar .second-bar ul li {
  margin-right: 0.5rem;
}
.navbar-anonymous ul {
  display: flex;
}
